{% extends 'blog/base.html' %}

{% block content %}

    <h1>Unpublished posts:</h1>
    <ul class="list-group">
        {% for post in posts %}

            <li class="list-group-item">
                <div class="card {% if post.post_status == 'cd' %} bg-danger {% else %} bg-warning {% endif %}">
                    <h5 class="card-header">{{ post.title }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Author: {{ post.get_author_name }}</h5>
                        <p class="card-text">{{ post.description|truncatechars:100 }}</p>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Detail</a>
                        {% if perms.blog.set_post_status %}
                        <a href="{% url 'update_post_status' post.pk %}" class="btn btn-primary">Update Post Status</a>
                        {% endif %}
                    </div>
                </div>
            </li>

        {% endfor %}
    </ul>

{% endblock %}